
// 命中文字高亮红色
//.search-box .suggestion a .suggestion-row .suggestion-content .highlight
//    color: red;

// 命中文字高亮蓝色，背景色纳瓦白
// .search-box .suggestion a .suggestion-row .suggestion-content .highlight
//    color: blue;
//    background-color: NavajoWhite;

// 搜索结果样式
.suggestions {
  max-height: 80vh; // 搜索结果框高度自适应
  overflow-y: scroll;
}
.suggestions .highlight{
  color: #646cff
  font-weight: bold
}